module MyVars

    SF_VM_NAME = "symfony2-debian-7.4"
    DISABLED_SHARE_FOLDER = true
    PATH_SHARE_FOLDER = "."
    PATH_MOUNT_FOLDER = "/data"
    ANSIBLE_VERBOSE = "-vvv"

    APP_DOMAIN_NAME = "example.com"
    APP_VHOST_DOCUMENT_ROOT = PATH_MOUNT_FOLDER + "/web"
end
